<div class="form m-5">
  <%= form_tag animals_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a specific animal or a specific species"
    %>
    <%= button_tag do %>
      <%= icon 'fas', 'search' %>
    <% end %>
  <% end %>
</div>

<% if @top_animals %>
  <h2>Most popular</h2>
  <div class="container-top5">
    <% @top_animals.each do |animal| %>
    <%= link_to animal_path(animal) do %>
    <% if animal.photo.attached? %>
      <div class="card-animal" style="background-image: url('<%= cl_image_path animal.photo.key, height: 300, width: 300, crop: :fill %>')">
    <% else %>
        <div class="card-animal">
    <% end %>
        <p class="h2 name"><%= animal.name %></p>
        <p class="h2 species"><%= animal.species %></p>
        <p class="h2 price"><%= animal.price_per_hour %>€/day</p>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<h2>All friends</h2>
<div class="container-cards-animals">
  <% @animals.each do |animal| %>
  <%= link_to animal_path(animal) do %>
  <% if animal.photo.attached? %>
    <div class="card-animal" style="background-image: url('<%= cl_image_path animal.photo.key, height: 300, width: 300, crop: :fill %>')">
  <% else %>
      <div class="card-animal">
  <% end %>
      <p class="h2 name"><%= animal.name %></p>
      <p class="h2 species"><%= animal.species %></p>
      <p class="h2 price"><%= animal.price_per_hour %>€/day</p>
    </div>
    <% end %>
  <% end %>
</div>

<footer class="footer">
  <p>Made with <%= icon 'fas', 'heart' %> by Helpers' Team</p>
</footer>