<h1>Say Hello to your Friend <%= @animal.name %></h1>

<p> <%= @animal.species %> </p>
<p> <%= @animal.race %> </p>
<p> <%= @animal.price_per_hour %> </p>
<p> <%= @animal.description %> </p>


<%= link_to "Back to All Friends", animals_path %>
<%= link_to "Delete This Friend",
            animal_path(@animal),
            method: :delete, data: { confirm: "Are you sure ?"}  %>
