
<div id="header">
<div id="back">
  <%= link_to animals_path, class: "btn"  do %>
  <%= icon 'fas', 'long-arrow-alt-left', "Back" %>
  <% end %>
</div>
  <p class="say-hello">Say <strong>Hello </strong> to <span class="animal-name"><%= @animal.name %></span></p>

  <div id="ref">
    <p> <strong><%= @animal.species.capitalize %></strong></p>
    <% if @animal.race == nil %>
      <p> <%= @animal.race %> </p>
    <% else %>
      <p> <%= @animal.race.capitalize %> </p>
    <% end %>
    <p> <%= @animal.price_per_hour %> €/Day </p>

    <div id="description">
      <% if @animal.description == nil %>
        <p> <%= @animal.description %> </p>
      <% else %>
        <div id="prout">
          <%= @animal.description.capitalize %>
        </div>
      <% end %>
    </div>
  </div>
 <!--  <a href="#range_start" class="btn btn-primary" style="z-index: 10;">Book now!</a> -->
 </div>

<div id="pic">
<% if @animal.photo.attached? %>
  <%= cl_image_tag(@animal.photo.key,
      width: 400, height: 300, crop: :fill) %>
<% end %>
</div>


<div class="up">
  <% if @animal.user != current_user %>
    <div class="cal">
      <div id="render">
      <%= render '/locations/new' %>
      </div>

      <div class="reviews">
        <h2>Reviews</h2>
        <% if @animal.reviews.empty? %>
          <p> Waiting for his first review ! </p>
        <% else %>
          <% @reviews.first(5).each do |review| %>
          <div class="review">
            <p> <%= review.rating %> /5 </p>
            <p><%= review.content %></p>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% else %>

    <div class="not-cal">
      <div class="reviews">
        <h2>Reviews</h2>
        <% if @animal.reviews.empty? %>
          <p> Waiting for his first review ! </p>
        <% else %>
          <% @reviews.first(5).each do |review| %>
          <div class="review">
            <p> <%= review.rating %> /5 </p>
            <p><%= review.content %></p>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
