
<div class="container">
    <p class="say-hello">Say <strong>Hello </strong> to</p>
    <p class="animal-name"> <%= @animal.name %> </p>
    <a class="btn btn-flat" href="#">Book now !</a>
</div>
<div id="pic">
<% if @animal.photo.attached? %>
  <%= cl_image_tag(@animal.photo.key,
      width: 400, height: 300, crop: :fill) %>
<% end %>

</div>
<div id="ref">
  <p> <strong><%= @animal.species %></strong></p>
  <p> <%= @animal.race %> </p>
  <p> <%= @animal.price_per_hour %> €/Hour </p>
  <p> <%= @animal.description %> </p>
</div>
<div class="cal">
  <div>
  <%= render '/locations/new' %>
  </div>
  <div id="calendrier">
    <% if current_user %>
      <% @animal.locations.where(user_id: current_user.id).each do |location| %>
        <p> <%= location.start_date %> - <%= location.end_date %> </p>
        <%= link_to "Create A Review", new_location_review_path(location)  %>
      <% end %>
    <% end %>
  </div>
</div>
<div id="link">
  <%= link_to "Back to All Friends", animals_path %>
  <%= link_to "Delete This Friend",
              animal_path(@animal),
              method: :delete, data: { confirm: "Are you sure ?"}  %>
</div>


<% @reviews.each do |review| %>
  <p> <%= review.rating %> </p>
  <p><%= review.content %></p>
<% end %>


