<div class="container-dashboard">
    <p class="welcome">Welcome, <strong> <%= current_user.first_name %> </strong></p>
</div>

<%# Coucou toi %>

<div id="pic">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag(current_user.photo.key,
        width: 400, height: 300, crop: :fill) %>
  <% else %>
          <%= image_tag("https://kitt.lewagon.com/placeholder/users/Kobytes",
        width: 400, height: 300, crop: :fill) %>
  <% end %>
</div>

<% if current_user.animals == nil %>
  <div class="add-animal">
    <%= link_to "Add a friend", new_animal_path %>
  </div>
<% else %>

  <div class="container-d">
    <h3>My animals</h3>
    <div class="container-cards-animals">
      <% @animals.each do |animal| %>
      <%= link_to animal_path(animal) do %>
      <% if animal.photo.attached? %>
          <div class="card-animal" style="background-image: url('<%= cl_image_path animal.photo.key, height: 300, width: 300, crop: :fill %>')">
        <% else %>
          <div class="card-animal">
        <% end %>
          <p class="h2 name"><%= animal.name %></p>
          <p class="h2 species"><%= animal.species %></p>
          <p class="h2 price"><%= animal.price_per_hour %>€/day</p>
        </div>
        <% end %>
      <% end %>
        <%= link_to new_animal_path, class: "card-animal" do %>
        <div class="add-image">
        
        </div>
          <%= icon 'fas', 'plus-circle', class: "not-blured" %>
        <% end %>
    </div>
  </div>
<% end %>
  
<% if @animals != nil %>

  <h3>Booking requests of my animals</h3>
  <div class="request-cards">
    <% @animals.each do |animal| %>
      <% animal.locations.where(status: "Pending").each do |location| %>
        <% if animal.photo.attached? %>
          <div class="card-animal" style="background-image: url('<%= cl_image_path animal.photo.key, height: 300, width: 300, crop: :fill %>')">
        <% else %>
          <div class="card-animal">
        <% end %>
            <p class="h2 name"><%= animal.name %></p>
            <p> By<%= location.user.first_name %></p>
            <p class="h2 price"><%= animal.price_per_hour %>€/day</p>
            <%= link_to "Accept", accept_location_path(location), method: :patch %>
            <%= link_to "Decline", decline_location_path(location), method: :patch %>
        </div>
        <% end %>
    <% end %>
  </div>
  

  <h3>Accepted Bookings</h3>
  <div class="request-cards">
    <% @animals.each do |animal| %>
        <% animal.locations.where(status: "Accepted").each do |location| %>
          <% if animal.photo.attached? %>
          <div class="card-animal" style="background-image: url('<%= cl_image_path animal.photo.key, height: 300, width: 300, crop: :fill %>')">
        <% else %>
          <div class="card-animal">
        <% end %>
              <p class="h2 name"><%= animal.name %></p>
              <p> By <%= location.user.first_name %></p>
              <p class="h2 price"><%= animal.price_per_hour %>€/day</p>
              <%= link_to "Decline", decline_location_path(location), method: :patch %>
          </div>
          <% end %>
      <% end %>
  </div>

  <h3>Declined Bookings</h3>
  <div class="request-cards">
    <% @animals.each do |animal| %>
        <% animal.locations.where(status: "Declined").each do |location| %>
          <% if animal.photo.attached? %>
          <div class="card-animal" style="background-image: url('<%= cl_image_path animal.photo.key, height: 300, width: 300, crop: :fill %>')">
          <% else %>
          <div class="card-animal">
          <% end %>
              <p class="h2 name"><%= animal.name %></p>
              <p> By <%= location.user.first_name %></p>
              <p class="h2 price"><%= animal.price_per_hour %>€/day</p>
          </div>
          <% end %>
      <% end %>
  </div>

<% end %>
  
<% if current_user.locations != nil %>

  <% if current_user.locations.map(&:status).include? "Pending" %>
    <h3>My pending bookings</h3>
    <div class="my-pending-bookings">
    <% current_user.locations.each do |location| %>
      <% if location.status == "Pending" %>
            <div class="card-location">
              <p><strong><%= location.animal.name %></strong></p>
              <p><%= location.start_date.strftime("%A - %d - %B") %></p>
              <p><%= location.end_date.strftime("%A - %d - %B") %></p>
              <p><%= location.status %></p>
            </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
    
  <% if current_user.locations.map(&:status).include? "Accepted" %>
    <h3>My Accepted bookings</h3>
    <% current_user.locations.each do |location| %>
      <% if location.status == "Accepted" %>
        <div class="my-pending-bookings">
            <div class="card-location">
              <p><strong><%= location.animal.name %></strong></p>
              <p><%= location.start_date.strftime("%A - %d - %B") %></p>
              <p><%= location.end_date.strftime("%A - %d - %B") %></p>
              <p><%= location.status %></p>
              <%= link_to "Leave a review", new_location_review_path(location) %>
            </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <% if current_user.locations.map(&:status).include? "Declined" %>
    <h3>My Declined bookings</h3>
    <% current_user.locations.each do |location| %>
      <% if location.status == "Declined" %>
        <div class="my-pending-bookings">
            <div class="card-location">
              <p><strong><%= location.animal.name %></strong></p>
              <p><%= location.start_date.strftime("%A - %d - %B") %></p>
              <p><%= location.end_date.strftime("%A - %d - %B") %></p>
              <p><%= location.status %></p>
            </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

<% end %>

      
      

